header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;    
    padding-top: 2rem;
}

/* Buttons */
.HeaderButtons {
    margin-top: 2rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* Picture */
.images {
    display:flex;
    margin-top: 2rem;
    justify-content: center;
    gap: 100px;
}

.item {
    background: linear-gradient(var(--colour-primary), transparent);
    width: 300px;
    height: 500px;
    border-radius: 150px 150px 40px 40px;
    padding: 40px 40px 0px 40px;
    overflow: hidden;
    margin: 0 10px;
    box-sizing: border-box;
}

/* Media Queries */
@media screen and (max-width: 1024px){
    header {
        height: 68vh;
    }

    .images > .item:not(:first-child)
    {
        display: none;
    }
}

@media screen and (max-width: 600px){
    header {
        height: 100vh;
    }

    .images > .item:not(:first-child)
    {
        display: none;
    }
}